@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-root {
    @apply w-full h-max py-[24px] laptop:h-[calc(100vh-110px)] laptop:py-0
    desktop:h-[calc(100vh-120px)] desktop:py-0 tablet:py-[36px]
    relative flex justify-center items-center gap-[24px] tablet:gap-[36px]
    laptop:gap-[36px] desktop:gap-[48px] px-8 tablet:px-12
    laptop:px-16 desktop:px-24 bg-primary;
  }

  .section-title {
    @apply font-[600] text-[24px] text-center w-screen pt-[32px]
    laptop:pt-[42px]  desktop:pt-[48px] relative after:absolute
    after:content-[''] after:w-[52px] after:h-[4px] after:rounded-[12px]
    after:bg-orange after:left-1/2 after:translate-x-[-50%];
  }
}

:root {
  font-family: 'Quicksand', sans-serif;
}

.balance {
  text-wrap: balance;
}
